body{
    font-family: Verdana;
    font-size : 2em;
    color: rgb(0, 0, 0);
    align-self: center;

}
html
{
    background-size: 50%;
    background-image: url(https://preview.redd.it/heres-the-omni-man-model-i-made-what-do-you-think-v0-ebufobxvonmc1.png?width=1280&format=png&auto=webp&s=9b90941795f032b33d8f9089a852e7819a62f15e);
}
#inputs{
    text-align: center;
    
}
.inputs
{
    border-radius: 5px;
}
.labels
{   border-color: rgb(164, 17, 17);
    
    border-radius: 5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rezultat
{
    color:aliceblue;
    margin: 0 0 1.5em; 
    background-color: #000000;
    display: inline-block;
    border-radius: 5px;
}
#operations
{
    text-align: center;
}
.operators
{
    font-size: 200%;
    background-color: aqua;
    border-radius: 4px;
}
.operators:hover
{
    background-color: blue;
}