body{
    font-family: Verdana;
    font-size : 2em;
    color: rgb(0, 0, 0);
    align-self: center;

}
html
{
    background-size: 50%;
    background-image: url(https://preview.redd.it/heres-the-omni-man-model-i-made-what-do-you-think-v0-ebufobxvonmc1.png?width=1280&format=png&auto=webp&s=9b90941795f032b33d8f9089a852e7819a62f15e);
}
